.link-group {
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.link-group a {
    display: inline-block;
    margin-right: 5px;
}
.glider-button-gold {
    background-color: gold;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 10px gold;
  }
  
  .glider-button-gold:hover {
    background-color: goldenrod;
    box-shadow: 0 0 10px goldenrod;
  }